NEXT_PUBLIC_APP_NAME="Vote OSS"
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=
REDIS_URL=

JWT_ACCESS_SECRET=your-access-secret-min-32-chars-here
JWT_REFRESH_SECRET=your-refresh-secret-min-32-chars-here

# Encrypts election private keys in database
# 64 chars, hex format
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
DATABASE_ENCRYPTION_KEY=

CAMPUS_API_URL=

# KPI ID Auth
NEXT_PUBLIC_KPI_AUTH_URL=
NEXT_PUBLIC_KPI_APP_ID=
KPI_APP_SECRET=

CRON_SECRET=your-cron-secret-min-32-chars-here

# For ip rate limit
TRUSTED_PROXY_COUNT=1
