DATABASE_URL=
REDIS_URL=

JWT_ACCESS_SECRET="your-access-secret-min-32-chars-here"
JWT_REFRESH_SECRET="your-refresh-secret-min-32-chars-here"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
CAMPUS_API_URL=

# KPI ID login app id
KPI_APP_ID=
