NEXT_PUBLIC_APP_NAME="Vote OSS"
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vote_oss?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=your-access-secret-min-32-chars-here
JWT_REFRESH_SECRET=your-refresh-secret-min-32-chars-here

# Encrypts election private keys in database
# 64 chars, hex format
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
DATABASE_ENCRYPTION_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

CAMPUS_API_URL=http://localhost:3001
CAMPUS_INTEGRATION_API_KEY=your-integration-secret

# KPI ID Auth
NEXT_PUBLIC_KPI_AUTH_URL=http://localhost:3001
NEXT_PUBLIC_KPI_APP_ID=your-app-id
KPI_APP_SECRET=your-kpi-app-secret

CRON_SECRET=your-cron-secret-min-32-chars-here

# For ip rate limit
TRUSTED_PROXY_COUNT=1
